*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
   
}

.nav-heading{
    display: flex;
    justify-content:end;
    align-items:center;
    flex-direction: row;
}

.main-heading{
    font-size: 40px;
    color:#06d6a0;
    word-spacing: 1vw;
}

.menubar{
    width: 20vh;
    display: flex;
    flex-direction: row;
    justify-content:end;
    justify-content:space-between;
    align-items: center;
}

.btn-menu{
    background-color:#e5e5e5;
    height: 6vh;
    width: 4vw;
    display: flex;
    justify-content:center;
    align-items: center;
}

.btn-mode{
    background-color:#e5e5e5;
    height: 6vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-img{
 height: 4vh;
 width: 2vw;
}

.mode-img{
 height: 4vh;
 width: 2vw;
}

.content1{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imge{
    height: 20vh;
    width: 12vw;
    border-radius:30px;
}

.rtxt{
    margin-top: 2vh;
    text-align: center;
}

.ptxt{
    margin-top: 2vh;
    text-align: center;
}

.stxt{
    margin-top: 2vh;
    text-align: center;
}

.rheading{
    color: #48cae4;
}

.pheading{
    color: #ccff33;
}

.sheading{
    color: #f775b0;
}

.score{
    margin-top: 5vh;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.output{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.score-user{
    text-align: center;
}

.score-comp{
    text-align: center;
}

.obtn{
    border-radius: 20px;
    width: 55vw;
    height: 10vh;
    background-color:green;
    color: white;
    font-size: 4vh;
}

.rock-img:active{
    border:4px solid #48cae4 ;
    scale:1.25;
}

.paper-img:active{
    border: 4px solid #ccff33 ;
    scale:1.25;
}

.scissor-img:active{
    border: 4px solid #f775b0 ;
    scale:1.25;
}

.reset{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.resetbtn{
    border-radius: 20px;
    width: 10vw;
    height: 6vh;
    background-color:#8ecae6;
    font-size: 3vh;
    font-weight: bold;
}
.resetbtn:active{
    scale:1.25;
}

@media screen and (max-width:600px){
    .imge{
        height: 14vh;
        width: 30vw;
        border-radius:30px;
    }

    .obtn{
        margin-top: 4vh;
        border-radius: 20px;
        width: 98%;
        height: 10vh;
        background-color: #003049;
        font-size: 30px;
        word-spacing: 1vw;
        color: white;
    }

    .main-heading{
        font-size: 200%;
        color:#06d6a0;
        word-spacing: 3vw;
    }

    .rtxt{
        font-size: 160%;
        margin-top: 3vh;
        text-align: center;
    }
    
    .ptxt{
        font-size: 160%;
        margin-top: 3vh;
        text-align: center;
    }
    
    .stxt{
        font-size: 160%;
        margin-top: 3vh;
        text-align: center;
    }

    .you{
        margin-top: 4vh;
        font-size: 120%;
    }

    .computer{
        margin-top: 4vh;
        font-size: 120%;

    }

    .resetbtn{
        margin-top: 1vh;
        border-radius: 40px;
        width: 50vw;
        height: 8vh;
        background-color:#8ecae6;
        font-size: 3vh;
        font-weight: bold;
    }
    
}